/* ......................Adobe Fonts....................... */

.tenez {
  font-family: tenez, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

.karmina {
  font-family: karmina, serif;
  font-weight: normal;
  font-style: normal;
}

.nobel-book {
  font-family: nobel, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nobel-reg {
  font-family: nobel, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.nobel-bold {
  font-family: nobel, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.red-text {
  color: #d22027;
}

.white-text {
  color: #fff;
}

.pink-text {
  color: rgba(85, 23, 24, .9);
}

/* ......................Text....................... */

h2 {
  color: #f2f2f2;
}

/* ......................General....................... */

html {
  font-family: nobel, sans-serif;
  font-weight: bold;
}

.btn {
  border-radius: 4px;
  border: .5px solid rgba(85, 23, 24, .6);
  margin: 0;
  text-align: center;
  width: 100%;
  color: rgba(85, 23, 24, 1);
}

.btn:hover {
  background-color: rgba(85, 23, 24, .6);
  color: #fff;
  border: none;
  transition: .3s ease-out;
}

.btn:focus {
  background-color: rgba(85, 23, 24, .6);
  color: #fff;
  border: none;
  box-shadow: inset 0 .5px 5px #555;
}

.btn-card {
  border-radius: 4px;
  border: .5px solid rgba(85, 23, 24, 1);
  margin: 0;
  text-align: center;
  padding: .375em 1em .42em;
  background-color: rgba(85, 23, 24, 1);
  color: #fff;
}

.btn-card:hover {
  background-color: rgba(85, 23, 24, .6);
  border-color: inherit;
}

/* ....................Header......................... */

.banner-container {
  height: 7.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
}

.heading {
  bottom: 0;
}

.grid-middle {
  background-image: linear-gradient(to bottom, rgba(235, 117, 38, .1), rgba(85, 23, 24, .6));
  background-size: cover;
}

.stretch {
  width: 100%;
  height: 100%;
}

.title {
  left: 1rem;
}

.top-btn {
  right: 1rem;
  bottom: .5rem;
  width: 2.5rem;
}

.arrow {
  padding: .5rem 0;
}

/* ......................Nav....................... */

nav {
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  margin-top: 7.5rem;
}

.current {
  background-color: rgba(85, 23, 24, .9);
  color: #fff;
  border: none;
  box-shadow: inset 0 .5px 5px #555;
}

.invisidiv {
  width: 10px;
  height: 10px;
  top: -7.5rem;
}

/* .....................Intro/Content........................ */

main {
  background-image: linear-gradient(to bottom, rgba(85, 23, 24, .1), rgba(85, 23, 24, .2));
}

a {
  text-decoration: none;
}

footer {
  background-image: linear-gradient(to bottom, rgba(85, 23, 24, .6), rgba(85, 23, 24, .6));
}

.content-card {
  background-color: #f2f2f2;
  overflow: hidden;
  filter: grayscale(0%);
  margin-bottom: 1rem;
  border-radius: 8px;
}

.card-height {
  height: 15rem;
}

.drop-title {
  top: 8rem;
  opacity: 0;
  width: 90%;
}

.link-card:hover .drop-title {
  opacity: 1;
  transition: .5s ease-out;
}

.link-card:hover .img-bottom {
  filter: grayscale(80%);
  filter: brightness(50%);
  transition: .3s ease-out;
}

.img-bottom {
  height: 100%;
}

.content-card-transparent {
  background-color: rgba(255, 255, 255, .9);
  padding: 3rem;
  border-radius: 8px;
}

.introduction {
  background-image: url("../images/splash-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.recipe-a {
  background-image: url("../images/choc-chip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.recipe-b {
  background-image: url("../images/crinkle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.recipe-c {
  background-image: url("../images/linzer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.recipe-d {
  background-image: url("../images/trail-mix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

/* .....................Recipe/Content........................ */

.ingredient {
  margin: 0;
}

.ing-col {
  padding-right: 2rem;
}

@media only screen and (min-width: 25em) {

  .title {
    left: 2rem;
  }

}

@media only screen and (min-width: 60em) {

  .content-card-transparent {
    margin: 0 3rem;
  }

  .content-card {
    margin-bottom: 0;
  }

  article {
    padding: 3em;
  }

}
